@import '~antd/dist/antd.css';

#root {
	height: 100%;
	min-height: 100%;
}
body {
	background: #f0f2f5;
}
.ant-layout {
	min-height: 100%;
	padding-bottom: 22px;
	/* background: #f2f2f2; */
}
.ant-layout-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 52px;
	padding: 0 32px;
	line-height: 52px;
	background: #fff;
	box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
}
.box {
	padding: 26px;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 22px;
	margin-top: 22px;
	box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project-table .ant-table-thead > tr > th {
	text-align: center;
	font-weight: 600;
}
.project-actions {
	margin-bottom: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.alert-fixed {
	position: fixed;
	z-index: 999;
	top: 30px;
	right: 30px;
	min-width: 200px;
}
.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f0f2f5;
	/* background: #f2f2f2; */
	padding: 0 15px;
}
.login-form {
	max-width: 310px;
	width: 100%;
}
.login-form .ant-input-prefix {
	margin-right: 6px;
}
.login-form .site-form-item-icon {
	color: rgba(0, 0, 0, 0.25);
}
.login .ant-alert {
	margin-bottom: 25px;
}
.login-form-button {
	width: 100%;
}
.btn-logout {
	width: 100%;
	text-align: left;
	padding: 5px 12px;
	border: none;
}
.btn-resource {
	margin-top: 20px;
}
.ant-layout-header .ant-avatar {
	cursor: pointer;
}
.ant-table-pagination.ant-pagination {
	margin: 26px 0 0 0;
}
.brand-logo {
	display: flex;
	justify-content: center;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 20px;
	/* cursor: pointer; */
}
.brand-logo img {
	display: block;
	height: 43px;
	/* max-width: 100%; */
}
.menu {
	padding: 0 16px;
}
.ant-menu-item-selected {
	border-radius: 4px;
}
.user-avatar {
	color: #f56a00;
	background-color: #fde3cf;
	transition: all 0.3s ease;
}
.card-resource .ant-card-body {
	padding: 0;
	margin: 0;
}
.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 22px;
	grid-row-gap: 22px;
}

.div1 {
	grid-area: 1 / 1 / 6 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 4;
}
.div3 {
	grid-area: 1 / 4 / 2 / 5;
}
.div4 {
	grid-area: 2 / 2 / 3 / 3;
}
.div5 {
	grid-area: 2 / 3 / 3 / 4;
}
.div6 {
	grid-area: 2 / 4 / 3 / 5;
}
.div7 {
	grid-area: 3 / 2 / 4 / 3;
}
.div8 {
	grid-area: 3 / 3 / 4 / 4;
}
.div9 {
	grid-area: 3 / 4 / 4 / 5;
}
.div10 {
	grid-area: 4 / 2 / 5 / 4;
}
.div11 {
	grid-area: 4 / 4 / 5 / 5;
}
.projects-list .ant-card-body {
	max-height: 50vh;
	overflow-y: auto;
}
.ant-typography.inline-paragraph {
	display: inline-block;
	margin-left: 4px;
	margin-bottom: 6px;
}
.ant-typography.inline-paragraph.table-paragraph {
	margin: 0;
}
